.title {
  background-color: red;
  color: white;
}
.heading1 {
  width: fit-content;
}
div {
  color: #ffffff;
  background-color: #808080;
  font-size: 20px;
}
.total-sum {
  display: flex;
  min-width: 600px;
  min-height: 150px;
  max-width: 20vw;
  max-height: 30vh;
  flex-direction: row;
  flex: wrap;
}
.left-container {
  max-width: 100vw;
  max-height: 100vh;
  min-width: 200px;
  min-height: 10px;
  /* style: "overflow-y:scroll"; */
}
.left-container::-webkit-scrollbar-thumb {
  color: red;
}
.left-container::-webkit-scrollbar-track-piece {
  color: white;
}
.right-container {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
}
.right-container-top {
  display: flex;
  flex: wrap;
  flex-direction: row;
  max-width: 100vw;
}
.specimenName {
  font-family: Lucida Console;
  width: 50vw;
}
.numberTypeHeightAndWeight {
  text-align: left;
  font-family: Lucida Console;
}
.break {
  flex-basis: 100%;
  width: 0;
}
.photoID {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
